// reset css
// variable
$hover-color: red;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0 110px;
    margin: o auto;
    header {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            width: 900px;
            display: flex;
            justify-content: space-between;
            .nav-link {
                &:hover {
                  color: $hover-color;
                    font-weight: 600px;
                }
                margin-right: 35px;
                text-decoration: none;
                font-size: 15px;
                line-height: 22.5px;
                font-weight: 600px;
                color: black;
            }
            .acct-border {
                border-right: 1px solid gray;
                padding-right: 30px;
            }
        }
    }
   main {
        .hero-section {
        display: flex;
        padding-top: 80px;
        height: calc( 100vh - 64px);
        
        .left-section {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 120px;

            .left-section-btn {
                button{
                border: none;
                color: gray;
                background-color: transparent;
                margin-right: 5px;
                }
            }
            h3 {
                font-size: 64px;
                padding: 80px 0;
            }
            p {
                font-size: 16px;
            }
            .hero-link {
                padding: 12px;
                background-color: #b00000;
                color: #ffffff;
                text-decoration: none;
                border-radius: 8px;
                display: inline-block;
                margin-right: 24px;
            }
            .hero-btn {
                padding: 12px;
                background-color: #ffffff;
                border: 1px solid #000000;
                border-radius: 8px;
                display: inline-block;
                margin-right: 24px;
            }
            
    }
    .right-section{
        width: 50%;
        background-image: url(./images/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .triangle-one {
            width: 40px;
            height: 40px;
            // background-color: red;
            display: block;
            border-left: 20px solid transparent;
            border-right: 20px solid red;
            border-bottom: 20px solid red;
            border-top: 20px solid transparent;
            position: absolute;
            right: -20px;
            top: 40px;
        }
        .triangle-two {
            width: 72px;
            height: 72px;
            // background-color: red;
            display: block;
            border-left: 36px solid transparent;
            border-right: 36px solid red;
            border-bottom: 36px solid red;
            border-top: 36px solid transparent;
            position: absolute;
            bottom: 80px;
            right: -20px;
        }
        .triangle-three {
            width: 40px;
            height: 40px;
            // background-color: red;
            display: block;
            border-left: 20px solid red;
            border-right: 20px solid transparent;
            border-bottom: 20px solid red;
            border-top: 20px solid transparent;
            position: absolute;
            bottom: 150px;
            left: -20px;
        }
    }
        }
        .sponsor {
        margin: 80px 0;

        .sponsor-top {
            display: flex;

            .sponsor-top-left {
                width: 50%;
            }
            .sponsor-top-right {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                img {
                    display: block;
                }
            }
        }
        
         }      
    }
}