// reset css
// variable
$hover-color: red;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0 110px;
    margin: o auto;
    header {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            width: 900px;
            display: flex;
            justify-content: space-between;
            .nav-link {
                &:hover {
                  color: $hover-color;
                    font-weight: 600px;
                }
                margin-right: 35px;
                text-decoration: none;
                font-size: 15px;
                line-height: 22.5px;
                font-weight: 600px;
                color: black;
            }
            .acct-border {
                border-right: 1px solid gray;
                padding-right: 30px;
            }
        }
    }
   main {
        .hero-section {
        display: flex;
        padding-top: 80px;
        height: calc( 100vh - 64px);
        
        .left-section {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 120px;

            .left-section-btn {
                button{
                border: none;
                color: gray;
                background-color: transparent;
                margin-right: 5px;
                }
            }
            h3 {
                font-size: 64px;
                padding: 80px 0;
            }
            p {
                font-size: 16px;
            }
            .hero-link {
                padding: 12px;
                background-color: #b00000;
                color: #ffffff;
                text-decoration: none;
                border-radius: 8px;
                display: inline-block;
                margin-right: 24px;
            }
            .hero-btn {
                padding: 12px;
                background-color: #ffffff;
                border: 1px solid #000000;
                border-radius: 8px;
                display: inline-block;
                margin-right: 24px;
            }
            
    }
        .right-section{
        width: 50%;
        background-image: url(./images/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .triangle-one {
            width: 40px;
            height: 40px;
            // background-color: red;
            display: block;
            border-left: 20px solid transparent;
            border-right: 20px solid red;
            border-bottom: 20px solid red;
            border-top: 20px solid transparent;
            position: absolute;
            right: -20px;
            top: 40px;
        }
        .triangle-two {
            width: 72px;
            height: 72px;
            // background-color: red;
            display: block;
            border-left: 36px solid transparent;
            border-right: 36px solid red;
            border-bottom: 36px solid red;
            border-top: 36px solid transparent;
            position: absolute;
            bottom: 80px;
            right: -20px;
        }
        .triangle-three {
            width: 40px;
            height: 40px;
            // background-color: red;
            display: block;
            border-left: 20px solid red;
            border-right: 20px solid transparent;
            border-bottom: 20px solid red;
            border-top: 20px solid transparent;
            position: absolute;
            bottom: 150px;
            left: -20px;
        }
    }
        }
        .sponsor {
        margin: 80px 0;

        .sponsor-top {
            display: flex;

            .sponsor-top-left {
                width: 40%;
                .sponsor-big-text {
                    height: 60px;
                    font-size: 30px;
                }
                .sponsor-small-text {
                    height: 50px;
                    margin-right: 60px;
                }
            }
            .sponsor-top-right {
                width: 60%;
                padding: 0 25px;
                margin-left:120px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                img {
                    display: block;
                    
                }
            }
        }
        .sponsor-bottom {
            margin-top: 100px;
            display: flex;
            .services-card {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .services-big-text {
                    font-weight: 600px;
                    font-size: 16px;
                    padding: 4px 8px;
                }
                .services-small-text {
                    font-size: 12px;
                    padding: 0 15px;
                    text-align: center;
                }
            }
        }
        }   
        .plan {
            
            .plan-top {
                border: 1px solid red;
                width: 856px;
                height: 411px;
                margin-left:250px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .plan-big-text {
                     margin: 20px 0;
                     font-size: 50px;
                     width: 650px;
                     height: 120px;
                }
                .plan-small-text {
                    margin: 20px 0;
                    font-size: 22px;
                }
                .plan-icon {
                    display: flex;
                    margin: 20px 0;
                }  
                .plan-circle {
                    .plan-circle-two {
                        background-color: yellow;
                        font-size: 10px;
                    }
                }      
                .plan-tag {
                    display: flex;
                    margin: 30px 0 0;
                    padding: 0 30px;
                    font-size: 30px;
                    
                    .plan-tag-one {
                        padding-top: 50px;
                        padding-right: 150px; 
                    }
                    .plan-tag-two{
                        padding-top: 50px;
                        padding-left: 150px;
                    }
                }                
            }
        }
    }
}